.header {
  position: sticky;
  top: 0px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  &__nav {
    max-width: 64rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-logo {
      a {
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        font-weight: 700;
        color: $dark-font;
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 0.1em;
      }
    }

    &__links-desktop {
      display: none;
    }

    &__links-mobile {
      position: absolute;
      right: 0;
      color: $dark-font;
      font-size: 2rem;
      background-color: $white;
      height: 50rem;
      width: 100vw;

      a {
        z-index: 2;
      }
    }

    &-hamburgericon {
      cursor: pointer;
      width: 25px;
      height: 25px;
      z-index: (10);
    }
  }
}

@media (min-width: 1000px) {
  .header {
    &__nav {
      &-logo {
        a {
          font-size: 1.25rem;
        }

        img {
          width: 34px;
          height: 34px;
        }
      }

      &__links-desktop {
        display: flex;
        gap: 2em;

        a {
          color: $dark-font;
          font-size: 1rem;
          font-weight: 600;
          text-transform: uppercase;
        }
      }

      &__links-mobile {
        display: none;
      }

      &-hamburgericon {
        display: none;
      }
    }
  }
}
