@import "_variables.scss";
@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";

// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// General styling
body {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

// Helper classes
.container {
  padding: 1.25em;
}

.hidden {
  display: none;
}

// Styling
.date {
  color: $dark-grey;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

.date-hero {
  color: $white;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.date-blog {
  font-size: 0.875rem;
}

// Media queries for responsiveness
@media (min-width: 1000px) {
  body {
    background-color: $body-color;
  }

  .container {
    padding-inline: 3.25em;
  }

  .date {
    font-size: 1rem;
  }
}
