@import "_variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// General styling
body {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

// Helper classes

.container {
  padding: 1.25em;
}

// Styling
.date {
  color: $dark-grey;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

.date-hero {
  color: $white;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.date-blog {
  font-size: 0.875rem;
}

.header {
  background-color: $white;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-logo {
      a {
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        font-weight: 700;
        color: $dark-font;
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 0.1em;
      }
    }

    &-links {
      display: flex;
      gap: 2em;

      a {
        color: $dark-font;
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}

.main {
  &__hero {
    padding-top: 4.3em;
    background-image: url("../images/article-image-hero.png");
    background-size: cover;

    &-title,
    &-subtext {
      color: $white;
    }

    &-title {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.1;
      margin-bottom: 0.25em;
    }

    &-subtext {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  &__posts {
    &-title {
      text-align: center;
      margin-bottom: 1em;
    }

    &__card {
      img {
        margin-block: 0.5em;
        border-radius: 3px;
      }

      &-title {
        font-size: 1.5rem;
        margin-block: 0.25em;
      }

      &-subtext {
        color: $grey;
        margin-bottom: 1.5em;
      }
    }
  }

  &__blog {
    img {
      margin-block: 1em 1em;
      border-radius: 3px;
    }

    &-title {
      color: $dark-grey;
      margin-block: 0.5em;
      line-height: 1.1;
    }

    &-subtext {
      color: $dark-grey;
      line-height: 1.3;
      margin-bottom: 1.1em;
    }

    &-subheading {
      margin-block: 1.5em;
    }
  }
}

.footer {
  background-color: $footer-grey;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    margin-block: 1.5em;
    font-size: 0.75rem;

    &-subtext {
      color: $footer-copyright-color;
    }
  }
}
