.header {
  position: sticky;
  top: 0px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.header__nav {
  max-width: 64rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-logo a {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 700;
  color: #0e0e0e;
}
.header__nav-logo img {
  width: 20px;
  height: 20px;
  margin-right: 0.1em;
}
.header__nav__links-desktop {
  display: none;
}
.header__nav__links-mobile {
  position: absolute;
  right: 0;
  color: #0e0e0e;
  font-size: 2rem;
  background-color: #fff;
  height: 50rem;
  width: 100vw;
}
.header__nav__links-mobile a {
  z-index: 2;
}
.header__nav-hamburgericon {
  cursor: pointer;
  width: 25px;
  height: 25px;
  z-index: 10;
}

@media (min-width: 1000px) {
  .header__nav-logo a {
    font-size: 1.25rem;
  }
  .header__nav-logo img {
    width: 34px;
    height: 34px;
  }
  .header__nav__links-desktop {
    display: flex;
    gap: 2em;
  }
  .header__nav__links-desktop a {
    color: #0e0e0e;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .header__nav__links-mobile {
    display: none;
  }
  .header__nav-hamburgericon {
    display: none;
  }
}
.main {
  max-width: 64rem;
}
.main__hero {
  padding-top: 4.3em;
  background-image: url("../images/article-image-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.main__hero-title, .main__hero-subtext {
  color: #fff;
}
.main__hero-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 0.25em;
}
.main__hero-subtext {
  font-size: 1rem;
  font-weight: 400;
}
.main__posts-title {
  text-align: center;
}
.main__posts__card img {
  width: 100%;
  height: 14.5rem;
  margin-block: 2em;
  border-radius: 3px;
}
.main__posts__card-title {
  font-size: 1.5rem;
  margin-block: 0.25em;
}
.main__posts__card-subtext {
  color: #505050;
}
.main__blog-image {
  width: 100%;
  height: 11.875rem;
}
.main__blog-title {
  color: #151515;
  margin-block: 0.5em;
  line-height: 1.1;
}
.main__blog-subtext {
  color: #151515;
  line-height: 1.3;
  margin-bottom: 1.1em;
}
.main__blog-subheading {
  color: #151515;
  margin-block: 1.5em;
}
.main__about-profilepic {
  width: 182px;
  margin-block: 1em;
}
.main__about-title {
  font-size: 2.125rem;
  color: #151515;
  line-height: 1.1;
  padding-right: 1em;
  margin-block: 0.5em;
}
.main-showbtn {
  font-size: 0.875rem;
  font-weight: 700;
  color: #000000;
  text-decoration: underline;
  margin-left: auto;
}

@media (min-width: 1000px) {
  .main__hero {
    height: 30.5rem;
    padding-block: 16em 2.5em;
  }
  .main__hero-title {
    font-size: 2.5rem;
  }
  .main__hero-subtext {
    font-size: 1rem;
    padding-right: 18em;
  }
  .main__posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.625em;
  }
  .main__posts img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 230px;
  }
  .main__blog-image {
    width: 100%;
    height: 30.5rem;
    -o-object-fit: cover;
       object-fit: cover;
    margin-block: 0.5em;
  }
  .main__blog__container {
    padding-inline: 2.5em;
  }
  .main__blog-subheading {
    margin-block: 1em;
  }
}
.footer {
  background-color: #202020;
}
.footer__text {
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-block: 1.5em;
  font-size: 0.75rem;
}
.footer__text-subtext {
  color: #d7d7d7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  padding: 1.25em;
}

.hidden {
  display: none;
}

.date {
  color: #151515;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

.date-hero {
  color: #fff;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.date-blog {
  font-size: 0.875rem;
}

@media (min-width: 1000px) {
  body {
    background-color: #fafafa;
  }
  .container {
    padding-inline: 3.25em;
  }
  .date {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */